@font-face
  font-family "bau"
  src url("http://office-for.com/lib/etc/bau/bauregular.otf")
  font-weight 400
  font-style normal
@font-face
  font-family "bau"
  src url("http://office-for.com/lib/etc/bau/bauregularitalic.otf")
  font-weight 400
  font-style italic
@font-face
  font-family "bau"
  src url("http://office-for.com/lib/etc/bau/baumedium.otf")
  font-weight 500
  font-style normal
@font-face
  font-family "bau"
  src url("http://office-for.com/lib/etc/bau/baumediumitalic.otf")
  font-weight 500
  font-style italic
@font-face
  font-family "bau"
  src url("http://office-for.com/lib/etc/bau/baubold.otf")
  font-weight 600
  font-style normal
@font-face
  font-family "bau"
  src url("http://office-for.com/lib/etc/bau/baubolditalic.otf")
  font-weight 600
  font-style italic

body
html
  font-size 18px
  font-family bau
  font-weight 400
  line-height 1.4rem

a
  color #000
  text-decoration none
  border-bottom 1px solid #000
  display inline-block
  line-height .8rem

body
  font-size .9rem

hr
  display inline-block
  width 6rem
  border 0
  border-top 2px solid #f4f4f4

h2
h3
  margin 0
  margin-top 1rem

h1
h2
h3
h4
strong
  font-weight 500

h4
  margin-bottom .3rem  

h5
  font-style italic
  font-weight 200
  margin 0

h1 code
h2 code
h3 code
  font-size inherit
  background-color #f4f4f4
  padding .3rem

pre
  background-color #f5f5f5
  padding .3rem
  margin-left -.3rem

code
  font-family "source-code-pro"
  font-size .8rem

ul
  list-style none
  padding 0

li:before
  content "+"
  padding-right .3rem
  font-family "source-code-pro"
  font-size .8rem
  font-weight 600

#nav
#cont
  left 50%

#cont
  width 42rem
  margin-left -21rem
  background-color #fff
  z-index 0

#nav
  position fixed
  top 0rem
  width 57rem
  padding-top 1rem
  z-index 0
  margin-left -32rem
  overflow hidden
  opacity 0
  transition opacity 1s ease-in-out

#nav.moving
  opacity 1
  transition opacity 1s ease-in-out
  
// #nav.scrolling
//   opacity 0
//   transition opacity 1s ease-in-out
// #nav.scrolling:hover
#nav:hover
  opacity 1
  transition opacity 1s ease-in-out

#cont
  position absolute
  top 0

#load
  display none

#load.load
  display inline-block
  font-weight 500
  position fixed
  left 50%
  bottom 0
  width 5rem
  margin-left 21rem
  background-color #000
  color #fff
  padding .3rem
  text-align center
  font-size .6rem
  letter-spacing .1rem

#nav > div > div
  display inline-block
  vertical-align top

#nav #sibs
  width 9rem 
  transition margin-top .3s ease-in-out

#nav:hover #sibs
  margin-top 0 !important
  transition margin-top .3s ease-in-out

// #kids
//   height 8rem

// #kids > div
//   width 6rem
//   overflow hidden

#nav a
  text-transform uppercase
  font-size .7rem
  font-weight 200
  margin-bottom .3rem
  letter-spacing 1px
  line-height .8rem
  border-bottom 1px solid #000

#nav .active a
  font-weight 500
  text-decoration none

#up
  padding-right 1rem
  margin-top -.3rem

#sides
  float right

#sides a
  margin-right .6rem

#nav .arow-up
#nav .arow-next
#nav .arow-prev
  width 0
  height 0
  border .4rem solid transparent

#nav .arow-up
  border-bottom .6rem solid #000
#nav .arow-next
  border-left .6rem solid #000
#nav .arow-prev
  border-right .6rem solid #000

#bred
  width 5rem
  padding-right 1rem
  text-align right
  font-size .6rem
  white-space nowrap
  overflow hidden

#bred a
  font-family "source-code-pro"
  text-transform lowercase
  vertical-align top

#bred > div
  float right

#bred > div > div
  display inline-block
  margin-top -.2rem

#bred a
#kids a
  margin-right .3rem

#bred a
  margin-left .3rem

.short
  width 32rem